

.header {
  padding: 19px;
}


.menu {
  margin-left:auto;
  display: flex;
  align-items: center;
  
}

.header__iner {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu__iteam {
  margin-right: 30px;
}


.menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}


.Sign-In {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #173A56;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin-right: 24px;
}


.Sign-up {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background-color: #02897A;
  border-radius: 4px;
  margin-right: 24px;
}

.button {
  padding: 6px;
  background-color: #F3F3F3;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background-image: url(../images/Frame.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border: none;
}

.black {
  background-color: #1F2E35;
  color: #fff;
}


.logo {
  display: block;
}

.logo-bg {
  display: none;
}


.in {
  color: #fff;
  border: 1px solid #fff;
}