

.hero {
  display: flex;
  align-items: center;
  padding-top: 25px; 
  padding-bottom: 25px; 

}

.hero__iner {
  display: flex;
  align-items: center;
  
  &::before {
    display: inline-block;
    margin-right: auto;
    margin-left: 33px;
    width: 600px;
    height: 556px;
    background-image: url(../images/amico.png);
    background-repeat: no-repeat;
    background-size: 600px 556px;
    background-position:  top ;
    order: 1;
    content: "";
  }
}




.hero__tittle {
  max-width: 458px;
  
} 

.hero__tittle__in {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
}

.hero__tittle__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin: 0;
  margin-bottom: 45px;
}

.hero__tittle__link {
  padding: 15px 40px;
  background-color: #02897A;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 30px;
}


.box-link {
  display: flex;align-items: center;
}

.hero__tittle__vidio {
  
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  text-decoration-line: underline;
  color: #02897A;
  
  &::before {
    display: inline-block;
    width: 20px;
    height: 17px;
    background-image: url(../images/pla.svg);
    background-repeat: no-repeat;
    background-size: 20px 17px;
    background-position: center;
    margin-right: 9px;
    content: "";
  }
}