.main__Strategies {
  color: #22343D;
}

.main__Strategies__tittle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}

.main__Strategies__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 33px;
}