.main__Strategies {
  color: #22343D;
  margin-bottom: 230px;
}

.main__Strategies__tittle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}

.main__Strategies__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 33px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 12px;
  color: #22343D;
}

.tittle-text {
  margin: 0;
  color: #22343D;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px
  
}

.color {
  color: #02897A;
}


.carousel-indicators {
  bottom: -100px;
}

.carousel-control-prev {
  left: -130px;
}

.carousel-control-next {
  right: -130px;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  
} 




@media only screen  and (max-width:770px) {
  
  .main__Strategies__tittle {
    display: block;
    margin: 0px auto;  
    max-width: 350px;
  }
  
  .main__Strategies__text {
    text-align: center;
    max-width: 350px;
    margin: 0px auto;
    margin-bottom: 40px;
  }
  
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .col-4 {
    max-width: 348px;
    width: 100%;
    margin-bottom: 16px;
  }

  .card-body {
    padding: 24px 0px;
  }

  
  
}
