.main__Strategies {
  color: #22343D;
  margin-bottom: 230px;
}

.main__Strategies__tittle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}

.main__Strategies__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 33px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 12px;
  color: #22343D;
}

.tittle-text {
  margin: 0;
  color: #22343D;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px
  
}

.color {
  color: #02897A;
}


.carousel-indicators {
  bottom: -100px;
}

.carousel-control-prev {
  left: -130px;
}

.carousel-control-next {
  right: -130px;
}
 