.main__Easy {
  padding: 53px 0px;
  background-image: url(../images/bg-black.png);
  background-repeat: no-repeat;
  background-size: 2324px 390px;
  background-position: center top;
  color: #22343D;
  margin-bottom: 150px;
}

.Easy {
  background-image: url(../../images/black-bg.png);
  color: #fff;
}


.main__Easy__tittle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.main__Easy__text {
  margin: 0px auto;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 542px;
}

.main__Easy__box {
  color: #2F281E;
  text-align: center;
}


.main__Easy__box__iteam {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
  
}

.craft {
  display: flex;
  align-items: center;
}

.craft ~ .craft {
  flex-direction: row-reverse;
  
}

.craft:nth-child(2) > img {
  margin-right: 0;
  margin-left: 16px;
  
}


.craft > img {
  margin-right: 16px;
}

.craft__text {
  position: relative;
  margin: 0;
  padding: 15px 25px;
  box-shadow: 0px 2px 8px #5675921a;
  background-color: #fff;
  border-radius: 26px;
  
  
  &::after {
    position: absolute;
    left: 32px;
    bottom: -8px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    
  }
  
  
  &::before {
    position: absolute;
    left: 15px;
    bottom: -15px;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    
  }
}

.craft:nth-child(2) > .craft__text::after {
  left: auto;
  right: 32px;
}

.craft:nth-child(2) > .craft__text::before {
  left: auto;
  right: 15px;
}

.main__Easy__box__iteam:nth-child(2) .craft:nth-child(1) {
  flex-direction: row-reverse;
}

.main__Easy__box__iteam:nth-child(2) .craft:nth-child(1) > img {
  margin-left: 16px;
}

.main__Easy__box__iteam:nth-child(2) .craft:nth-child(2) {
  flex-direction: row;
  margin-right: 16px;
}

.main__Easy__box__iteam:nth-child(2) .craft:nth-child(2) > img {
  margin-right: 16px;
}

.main__Easy__box__iteam:nth-child(2) {
  margin-bottom: 48px;
}

.main__Easy__box__link {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 30px;
  background-color: #02897A;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}







