
.main__Management {
  padding: 150px 0px;
  color: #22343D;
}



.main__Management__strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; 
  
  margin-bottom: 8px;
}

.main__Management__box {
  max-width: 468px;
  
}


.main__Management__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  
  margin-bottom: 131px;
  
}


.main__Management__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
  margin-bottom: 25px;
}

.main__Management__box__strong {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;  
}

.Management {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  &::after {
    display: inline-block;
    margin-left: auto;
    width: 540px;
    height: 474px;
    background-image: url(../images/amic.png);
    background-repeat: no-repeat;
    background-size: 540px 474px;
    background-position: center;
    content: "";
  }
}


.Management:nth-child(2) {
  flex-direction: row-reverse;
}

.Management:nth-child(2)::after {
  margin-left: 0;
  margin-right: auto;
  background-image: url(../images/des.png);
  background-size: 540px 500px;
  width: 540px;
  height: 500px;
}


.Management:nth-child(3)::after {
  margin-left: auto;
  background-image: url(../images/ami.png);
  background-size: 542px 452px;
  width: 542px;
  height: 452px;
}

.Management__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Management__list__item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  
  &::before {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #FF9900;
    border-radius: 14px;
    margin-right: 30px;
    background-image: url(../images/Path.svg);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center;
    content: "";
  }
}



.main__Management__tittle:nth-child(2) {
  margin-bottom: 23px;
}

.Management__list__item:nth-child(2)::before {
  background-color: #F03E3D;
  
}

.Management__list__item:nth-child(3)::before {
  background-color: #4D8DFF;
  
}

.main__Management__box:nth-child(2) {
  max-width: 468px;
}

.Management__list__item > div {
  max-width: 385px;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  
} 




@media only screen  and (max-width:770px) {
  
  
  .main__Management {
    
    padding-top: 95px;
  }
  
  .Management {
    flex-direction: column-reverse;
    max-width: 334px;
    margin: 0px auto;
    margin-bottom: 97px;
  }
  
  .Management::after {
    width: 349px;
    height: 307px;
    background-image: url(../images/phone.png);
    background-size: 349px 307px;
    margin: 0px auto;
    margin-bottom: 50px;
    
  }
  
  .Management:nth-child(2) {
    flex-direction: column-reverse;
    max-width: 334px;
    margin: 0px auto;
    margin-bottom: 98px;

  }
  
  .Management:nth-child(2)::after {
    width: 349px;
    height: 307px;
    background-image: url(../images/serach.png);
    background-size: 350px 320px;
    margin: 0px auto;
    margin-bottom: 50px;
  }
  
  .Management__list  {
    max-width: 350px;
  }

  .Management__list__item > div {
    max-width: 287px;
  }
  
  .Management__list__item {
    justify-content: space-between;
  }

  .Management__list__item::before {
    margin-right: 0;
  }

  .Management:nth-child(3)::after {
    width: 350px;
    height: 292px;
    background-image: url(../images/list.png);
    background-size: 350px 292px;
    margin: 0px auto;
    margin-bottom: 50px;
  }
  
  
}


@media only screen  and (max-width:383px) {
  
  .Management::after {
    width: 300px;
    height: 307px;
    background-image: url(../images/phone.png);
    background-size: 300px 307px;
    margin: 0px auto;
    margin-bottom: 50px;
}
  

.Management:nth-child(2)::after {
  width: 300px;
  height: 307px;
  background-image: url(../images/serach.png);
  background-size: 300px 320px;
  margin: 0px auto;
  margin-bottom: 50px;
}


.Management__list__item {
  flex-direction: column;
  text-align: center;
}

 
  
}


